#container {
    
    background-color: aqua;
    height: 500px;
    width: 300px;
    margin: auto;
    float: left;
    
}


#divone {
    
    
    background-color: aqua;
    height: 50px;
    width: 50pc;
    position: absolute
    
}